@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');
:root{
    --txt-clr:hsl(0,0%,10%);
    --ftr-clr: hsl(245, 62%, 4%);
    --acc-clr:hsl(0,0%,85%);
    --link-clr:hsl(240,5%,35%);
    --bg-clr: hsl(0, 0%, 20%);
}
/* *GENERAL */
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url(images/doodle.svg);
    font-family: 'Inter',sans-serif;
    color: var(--txt-clr);
}
a{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    padding: 0rem .5rem;
}
h1,h2,h3{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 700;
}
h2,h3{
    text-align: center;
    text-transform: uppercase;
}
article >h2{
    padding-top: 2rem;
    color: #fff;
}
p{
    text-align: center;
    line-height: 1.5;
}
/* *MOBILE MENU */
.menu{
    width: 0;
    height: 0;
    padding: 0;
    position: fixed;
    background-color: var(--bg-clr);
    z-index: 2;
}
#mobileLinks{
    padding: 3rem 0rem;
}
.menu ul{
    display: none ;
}
.menu ul a{
    padding: .5rem 3rem;
    font-size: 2rem;
    display: block;
}
.git{
    margin: .5rem 0rem;
    text-decoration: underline;
}
.git::after{
    content: url(images/open_in_new_FILL0_wght400_GRAD0_opsz24.svg);
    padding: .25rem;
}
/* *HEADER */
header{
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 2rem;
    color: #fff;
}
header nav ul ul{
    display: inline;
}
header h1 sub{
    font-weight: 200;
}
header nav{
    align-self: center;
    text-align: center;
    display: none;
}
header nav a{
    font-weight: 400;
    padding: 0rem 1rem;
}
.github{
    display: none;
}
#open,#close{
    border: solid 0px;
    border-radius: 50%;
    background-color: transparent;
}
#close{
    display: none;
}
#open img,#close img{
    position: fixed;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
    padding: .5rem;
    background-color:var(--bg-clr);
}
/* *HERO */
.hero{
    margin: 0rem;
    background-color: var(--bg-clr);
    padding: 1.5rem 0rem;
}
.hero .txt{
    margin: 1rem;
    padding: 0rem 0rem 1rem 0rem;
    color: #fff;
}
.hero .txt h1{
    font-size: 2rem;
    text-align: center;
}
.hero .txt h2{
    font-size: 1.5rem;
    font-weight: 400;
}
@media (min-width: 1200px){
    .hero .txt h1{
        font-size: 3rem;
    }
    .hero .txt h2{
        font-size: 2rem;
    }
}
.hero .img img{
    max-width: 100%;
}
/* *PROJECTS + SKILLS */
section{
    margin: 1rem;
    padding: 2rem;
    border: 2px solid var(--acc-clr);
    border-radius: 1rem;
    background-color: #fff;
}
.title .subTitle{
    text-align: center;
    padding: .5rem;
}
section a{
    color: var(--link-clr);
}
section .links{
    text-align: center;
}
.design p, .tech p{
    max-width: 60ch;
}
#about p{
    color: #fff;
    background-color: #050411;
    max-width: 60ch;
}
/* *CONTACT */
.wrap2{
    background: url(images/dust_texture.svg);
    padding-top: 1rem;
}
.contact{
    border: 0px;
    color: #fff;
    text-align: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.contact h1{
    font-size: 3rem;
    background-color: #050411;
}
.contact a{
    font-size: 1.5rem;
    background-color: #050411;
    padding-top: 2rem;
    color: #fff;
}
/* *FOOTER */
footer{
    padding: 1rem;
}
footer ul{
    text-align: center;
}
/* *DESKTOP */
@media (min-width:821px){
    /**GENERAL */
    a:hover{
        font-weight: 700;
    }
    main{
        margin: 0;
    }
    /**MOBILE_MENU */
    .menu{
        display: none;
    }
    #open button,#close button{
        display: none;
    }
    /**HERO */
    .hero{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0rem 1rem;
        padding: 2rem 0rem;
    }
    .hero .img img{
        border: 1px solid #999;
        border-radius: 1rem;
    }
    /**CONTAINERS */
    .wrap{
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 1rem 4rem;
    }
    .wrap2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #projects .contain{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 1rem 4rem;
        overflow-x: scroll;
    }
    /**HEADER */
    #open{
        display: none;
    }
    header nav{
        display: inline;
    }
    .github{
        display: block;
    }
    .github img{
        padding: .5rem;
        transition: filter .3s ease-in;
    }
    .github img:hover{
        filter: brightness(7);
    }
    /**PROJECTS */
    #projects section{
        display: grid;
        grid-template-rows: .5fr 1.5fr .25fr;
    }
    #projects section h2{
        margin: 1rem 0 0 0;
    }
    #projects section .links{
        font-weight: 400;
    }
    /**SKILLS */
    .design, .tech{
        padding: 2rem 6rem;
    }
    /**FORM */
    #about{
        padding: 3.5rem;
        min-width: 30ch;
        margin: 1rem 0rem 1rem 5rem;
    }
    #about h2{
        color: inherit;
    }
    #about p{
        padding: 0rem 3rem;
        line-height: 2;
        font-size: 1.125rem;
        text-align: center;
    }
    .contact a{
        outline: solid 1px #fff;
        transition: outline .3s ease-out;
        max-width: fit-content;
        padding-top: 0;
    }
    .contact #email::before{
        content: url(images/forward_to_inbox_FILL0_wght400_GRAD0_opsz48.svg);
        padding-right: .5rem;
    }
    .contact #linkedin::before{
        content: url(images/linkedin-icon.svg);
        padding-right: .5rem;
    }
    .contact a:hover{
        outline: solid 5px #fff;
        font-weight: 400;
    }
    footer{
        grid-column:1/-1 ;
    }
    footer a{
        padding: 0rem 1rem;
    }
}