@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');
:root{
    --txt-clr:hsl(0,0%,0%);
    --ftr-clr: hsl(0,0%,40%);
    --acc-clr:hsl(0,0%,85%);
    --link-clr:hsl(240,5%,35%);
}
/* *GENERAL */
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter',sans-serif;
    background: url(images/doodle.svg);
}
img{
    height: 50px;
    width: 50px;
}
a{
    text-decoration: none;
    color: var(--link-clr);
    font-weight: 800;
    padding: 0rem .5rem;
}
h2,h4{
    text-align: center;
}
/* *HEADER */
header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: .5rem 2rem;
    background-color: #d9d9d9;
}
header nav{
    align-self: center;
    text-align: center;
    display: none;
}
/* *MAIN */
section, #about{
    margin: 1rem;
    padding: 2rem;
    border: 2px solid var(--acc-clr);
    background-color: #fff;
}
section .links a:hover{
    outline: solid 2px black;
}
.design p, .tech p{
    max-width: 60ch;
}
#about p{
    max-width: 60ch;
}
/* *FORM */
fieldset{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    border: 2px solid var(--acc-clr);
    background-color: #fff;
    max-width: 700px;
}
fieldset input{
    padding: .5rem;
}
fieldset textarea{
    padding: 1rem;
}
fieldset button{
    max-width: 6rem;
    padding: 1rem;
    margin: .5rem;
    align-self: center;
    border-radius: 1rem;
    border: 1px solid;
}
button:hover{
    outline: solid 2px black;
}
/* *FOOTER */
footer{
    background-color: var(--ftr-clr);
    padding: 1rem;
}
footer ul{
    text-align: center;
}
footer a{
    color: #fff;
}
/* *DESKTOP */
@media (min-width:769px){
    main{
        margin: 1rem 4rem;
    }
    .wrap{
        display: flex;
    }
    header{
        position: static;
        background-color: transparent;
    }
    header nav{
        display: inline;
    }
    #projects section{
        position: relative;
        display: grid;
        grid-template-columns: fit-content(30ch) fit-content(70ch);
        grid-template-rows: 1fr .5fr;
        column-gap: 7rem;
    }
    #projects section h2{
        grid-area: 1/1/1/1;
    }
    #projects section .links{
        text-align: center;
        grid-area: 2/1/2/1;
    }
    #projects section p{
        grid-area: 1/2/3/2;
    }
    .design, .tech{
        padding: 3rem 6rem;
    }
    #about, fieldset{
        padding: 3rem;
        min-width: 30ch;
    }
}